:root {
  color-scheme: light only !important;
  --DB_purple: #4d3d61;
  --DB_yellow: #fad652;
  --DB_blue: #a3d1d4;
  --DB_green: #b0b97f;
  --DB_red: #c5663a;
  --DB_purple_inverted: #b2c29e;
  --DB_yellow_inverted: #0529ad;
  --DB_blue_inverted: #5c2e2b;
  --DB_green_inverted: #4f4680;
  --DB_red_inverted: #3a99c5;
}

@font-face {
  font-family: 'dobbo medium';
  src: url('fonts/ABCDiatypeRounded-Medium.otf') format('opentype');
  /* url('fonts/ABCDiatypeRounded-Medium-Trial.woff') format('woff'),
    url('fonts/ABCDiatypeRounded-Medium-Trial.woff2') format('woff2'); */
}
@font-face {
  font-family: 'dobbo bold';
  src: url('fonts/ABCDiatypeRounded-Bold.otf') format('opentype');
  /* url('fonts/ABCDiatypeRounded-Bold-Trial.woff') format('woff'),
    url('fonts/ABCDiatypeRounded-Bold-Trial.woff2') format('woff2'); */
}
@font-face {
  font-family: 'dobbo bold italic';
  src: url('fonts/ABCDiatypeRounded-BoldItalic.otf') format('opentype');
  /* url('fonts/ABCDiatypeRounded-BoldItalic-Trial.woff') format('woff'),
    url('fonts/ABCDiatypeRounded-BoldItalic-Trial.woff2') format('woff2'); */
}

/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'dobbo medium';
  color: var(--DB_purple);
  text-decoration: none;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  border: none;
}
*::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  cursor: none;
  width: 100vw;
  min-height: 100dvh;
  background-color: white;
  font-size: 16px;
}

.page-container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img,
iframe {
  display: block;
  max-width: 100%;
}

button,
h1 {
  border-radius: 30px;
  border: 1.5px solid var(--DB_purple);
}
.firm-button,
.site-button a {
  padding: 10px 18px;
}

/* ----v--- button hover fill effect ---v--- */
button {
  position: relative;
}
button::after {
  /* cursor: pointer; */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: var(--DB_purple);
  clip-path: circle(0%);
  transition: 0.4s ease;
  z-index: 0;
}
.firm-button::after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: lightgray;
}
#connect::after {
  content: 'Connect';
}
#download::after {
  content: 'Download';
}
.site-button a {
  display: block;
  position: relative;
  z-index: 1;
}
/* cursor + hover states only on desktop */
@media (hover: hover), (-ms-high-contrast: none) {
  button:hover::after {
    clip-path: circle(100%);
  }
  button:hover a {
    color: lightgray;
    transition: color 0.4s ease;
  }
  button[disabled]:hover a {
    color: inherit;
  }
  button[disabled]::after {
    display: none;
  }
  /* ---^--- button hover fill effect ---^--- */

  /* ---v--- circle following cursor effect ---v--- */
  .circle {
    --circle-size: 60px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 2px solid var(--DB_purple_inverted);
    background-color: var(--DB_purple_inverted);
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
    z-index: 10;
    mix-blend-mode: exclusion;
  }
  /* ---^--- circle following cursor effect ---^--- */
}

a,
button {
  font-size: 16px;
  cursor: none;
}

#order-btn {
  display: block;
  margin: 0 auto;
}
#download {
  margin: 0 0 20px;
}
#order-btn,
#connect,
#firmware-btn,
#download {
  background-color: var(--DB_yellow);
}
#about-btn {
  background-color: var(--DB_blue);
}
#manual-btn {
  background-color: var(--DB_green);
}

.bold {
  font-family: 'dobbo bold';
}

/* header */
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
}
.site-logo {
  width: 140px;
}
.site-logo a {
  display: block;
  padding: 0;
}
.site-logo img {
  width: 100%;
}

/* body */
article {
  background-color: white;
}
.img-container {
  height: 470px;
}

.pedal-img {
  height: 100%;
  background-size: cover;
  background-position: center;
}
#dobbo-pedal-img {
  position: relative;
  background-image: url(assets/dobbo-main-pic-crop-s.png);
}
#dobbo-order-btn-container {
  padding: 13px;
}
.fine-print {
  background-color: var(--DB_purple);
  font-size: 12px;
  text-align: center;
  padding: 14px 20px;
}
.fine-print-line {
  color: white;
  font-family: 'dobbo bold italic';
  display: inline-block;
}

.text-section {
  padding: 36px 26px;
}
.pedal-logo,
.title,
.manual-btn-container {
  padding: 0 0 30px 0;
}
.manual-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.pedal-logo img {
  width: 208px;
  margin: 0 auto;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 76%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.order-btn-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.price {
  text-align: center;
  font-size: 12px;
  padding-top: 8px;
}
.price p {
  font-family: 'dobbo bold';
}

/* ---v--- img carousel ---v--- */
.slider-wrapper {
  position: relative;
  overflow: hidden;
}
.slides-container {
  height: fit-content;
  width: 100%;
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  overflow-y: none;
  scroll-behavior: smooth;
}
.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}
.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  border: none;
  width: 2rem;
  font-family: 'dobbo bold';
  font-size: 2rem;
  padding: 0;
  background-color: unset;
}
.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}
#slide-arrow-prev {
  left: 0;
  padding-left: 0.5rem;
}
#slide-arrow-next {
  right: 0;
  padding-right: 0.5rem;
}
/* ---^--- img carousel ---^--- */

h1 {
  font-weight: 400;
  font-size: 18px;
}
h1 {
  width: fit-content;
  margin: 0 auto;
  padding: 10px 22px;
  text-align: center;
  background-color: var(--DB_blue);
}

/* footer */
footer {
  width: 100%;
  padding: 10px;
  background-color: var(--DB_blue);
  bottom: 0;
}
.links {
  display: flex;
  justify-content: space-between;
}
.links-socials {
  width: 100%;
}
.links a {
  display: inline-block;
  padding: 10px 12px;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 0.2s;
  /*opera and mozilla support*/
  -webkit-text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
}
.links a:hover {
  text-decoration-color: var(--DB_purple);
  /*opera and mozilla support*/
  -webkit-text-decoration-color: var(--DB_purple);
  -moz-text-decoration-color: var(--DB_purple);
}

/* FIRMWARE UPDATE PAGE */
.hidden {
  display: none;
}
.extra-page-body,
button,
input,
#file-upload-button {
  cursor: none !important;
  background-color: var(--DB_blue);
}
.extra-page-body,
button {
  cursor: default;
}
main {
  padding: 1.6rem;
}
input {
  display: block;
}

#update-instructions {
  padding: 20px;
}
#update-instructions ol {
  display: block;
  list-style-type: decimal;
}
#update-instructions li {
  font-size: 1em !important;
  margin-left: 1em;
  padding: 5px 0;
}
p.warning,
p.error,
input:invalid {
  color: red;
}
p.error {
  font-weight: bold;
}
label.radio {
  display: inline;
}

/* Buttons, forms and input */
input,
textarea {
  border: 1px solid #4a4a4a;
}
input:focus,
textarea:focus {
  border: 1px solid var(--DB_purple);
}

textarea {
  width: 100%;
}

button[disabled],
input[type='submit'][disabled],
input[type='reset'][disabled],
input[type='button'][disabled] {
  opacity: 0.5;
}
legend {
  font-size: 1.3em;
}
#status,
#downloadLog {
  font-size: 14px;
}
#status {
  background-color: white;
}

#update-instructions {
  font-size: 1em;
}
textarea,
select,
input[type] {
  color: var(--DB_purple);
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
textarea:focus,
select:focus,
input[type]:focus {
  border: 1px solid var(--DB_purple);
  outline: 0;
}

legend,
fieldset {
  display: block;
}
#update-instructions-legend {
  padding-top: 18px;
}

/* --------------------------------------- */

@media screen and (min-width: 375px) {
  header {
    padding: 20px;
  }
  .fine-print {
    padding: 14px 40px;
  }
  .text-section {
    padding: 40px 26px;
  }
  .pedal-logo,
  .title {
    padding: 0 0 36px 0;
  }
  h1 {
    padding: 10px 26px;
  }
  footer {
    padding: 12px 14px;
  }
}
@media screen and (min-width: 400px) {
  header {
    padding: 22px;
  }
  .img-container {
    height: 540px;
  }
  #dobbo-order-btn-container {
    padding: 20px;
  }
  .pedal-logo img {
    width: 220px;
  }
  .text-section {
    padding: 44px 38px;
  }
  .slide-arrow {
    width: 2.5rem;
  }
  #slide-arrow-prev {
    padding-left: 1rem;
  }
  #slide-arrow-next {
    padding-right: 1rem;
  }
  .links a {
    padding: 10px 16px;
  }
  footer {
    padding: 12px 22px;
  }
}
@media screen and (min-width: 600px) {
  body,
  a,
  button {
    font-size: 18px;
  }
  .site-logo {
    width: 152px;
  }
  .title,
  .pedal-logo,
  .manual-btn-container {
    padding: 20px;
  }
  .manual-btn-container {
    display: block;
    text-align: center;
  }
  #manual-btn,
  #firmware-btn {
    margin: 0 10px;
  }
  .pedal-logo img {
    width: 260px;
  }
  .img-container {
    height: 580px;
  }
  .price,
  .fine-print {
    font-size: 14px;
  }
  .fine-print {
    padding: 18px 40px;
  }
  .text-section {
    padding: 52px;
  }
  .desc {
    margin: 0 auto;
    padding: 20px 0;
  }
  #dobbo-desc-1,
  #dobbo-desc-2 {
    max-width: 432px;
  }
  #about {
    max-width: 500px;
  }

  .slider-wrapper {
    width: 100%;
    height: 385px;
  }
  .slides-container {
    height: 100%;
    width: unset;
  }
  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: unset;
    flex: 0 0 auto; /* Prevents shrinking, keeps width auto */
  }
  .slide img {
    height: 100%;
    width: auto; /* Keep aspect ratio */
    object-fit: contain;
  }

  h1 {
    font-size: 20px;
  }
  h1 {
    padding: 10px 60px;
  }
  footer {
    padding: 14px 20px;
  }
}
@media screen and (min-width: 768px) {
  body,
  a,
  button {
    font-size: 16px;
  }
  .img-container {
    height: 500px;
  }
  #dobbo-order-btn-container {
    padding: 14px;
  }
  .pedal-logo {
    padding: 20px;
  }
  .pedal-logo img {
    width: 226px;
  }
  .text-section {
    padding: 60px 70px;
  }
  #dobbo-desc-1 {
    max-width: 560px;
  }
  #dobbo-desc-2 {
    max-width: 520px;
  }
  #about {
    max-width: 570px;
  }

  .vid-container {
    width: 100%;
    padding: 0 70px;
  }
  .iframe-container {
    border-radius: 30px;
  }

  #manual-btn,
  #firmware-btn {
    margin: 0 20px;
  }

  .slide-arrow {
    width: 2.9rem;
    font-size: 2.2rem;
  }

  #update-instructions-legend {
    padding-top: 34px;
  }
  main {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    margin: 0 auto;
    overflow-y: none;
  }
}
@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1024px) {
  a,
  button {
    font-size: 18px;
  }
  .site-logo {
    width: 160px;
  }
  .rel {
    position: relative;
  }
  .img-container {
    height: 600px;
    background-color: var(--DB_blue);
  }
  .pedal-img {
    width: 50%;
    margin: 0 46px;
  }
  .text-section {
    padding: 0;
  }
  .pedal-info {
    position: absolute;
    width: 55%;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 70px;
  }
  #dobbo-desc-1 {
    padding: 20px 40px;
  }
  .pedal-logo img {
    width: 260px;
  }
  #dobbo-order-btn-container {
    padding: 28px;
  }
  .vid-container {
    padding: 80px;
    padding-bottom: 0;
    max-width: 68vw;
    margin: 0 auto;
  }

  #dobbo-desc-2 p {
    display: block;
  }
  #dobbo-desc-2 {
    padding: 0;
  }

  .slider-wrapper {
    height: 315px;
  }
  .slides-container {
    gap: 16px;
  }

  .wrap-manual-desc2,
  #about-section {
    margin: 0 auto;
    text-align: center;
  }
  .wrap-manual-desc2 {
    padding: 80px 120px;
  }
  #about-section {
    padding: 80px;
  }
  #about {
    padding: 0;
  }
  .manual-btn-container,
  .title {
    padding: 0 0 40px 0;
  }
}
@media screen and (min-width: 1200px) {
  .circle {
    --circle-size: 70px;
  }
  body,
  a,
  button {
    font-size: 20px;
  }
  header {
    padding: 30px;
  }
  .site-logo {
    width: 180px;
  }
  .flex {
    padding: 150px 120px;
  }
  .pedal-info {
    width: 57%;
    padding: 70px 80px;
  }
  .img-container {
    height: 670px;
  }
  #dobbo-order-btn-container {
    padding: 32px;
  }
  .fine-print,
  .price {
    font-size: 16px;
  }
  .price {
    padding-top: 10px;
  }
  .wrap-manual-desc2 {
    padding: 80px 50px 120px;
  }
  .vid-container {
    padding: 120px 80px 0;
  }
  #dobbo-desc-2 {
    max-width: 680px;
  }

  .slider-wrapper {
    height: 385px;
  }
  .slide-arrow {
    width: 3.5rem;
    font-size: 3rem;
  }

  #about-section {
    padding: 120px 20px;
  }
  #about {
    max-width: 720px;
  }
  .links {
    width: 98%;
    margin: 0 auto;
  }
  .links a {
    padding: 14px 18px;
  }
}
@media screen and (min-width: 1400px) {
  body,
  a,
  button {
    font-size: 22px;
  }
  header {
    padding: 32px;
  }
  .site-logo {
    width: 200px;
  }
  #about-a {
    padding: 10px 18px;
  }
  .order-btn a {
    padding: 12px 22px;
  }
  button,
  h1 {
    border: 2px solid var(--DB_purple);
  }
  .img-container {
    height: 730px;
  }
  #dobbo-order-btn-container {
    padding: 32px;
  }
  .price,
  .fine-print {
    font-size: 18px;
  }
  .price {
    padding-top: 14px;
  }
  .fine-print {
    padding: 22px 40px;
  }
  .pedal-info {
    width: 60%;
    padding: 70px 160px;
  }
  .pedal-logo {
    padding: 24px;
  }
  .pedal-logo img {
    width: 280px;
  }
  #dobbo-desc-1 {
    padding: 20px 0;
  }

  #about {
    max-width: 800px;
  }

  h1 {
    font-size: 22px;
  }
}

@media screen and (min-width: 1600px) {
  .pedal-img {
    margin: 0 100px;
  }
  .pedal-info {
    width: 62%;
    padding: 70px 260px;
  }
  .fine-print {
    padding: 24px 40px;
  }
  .flex {
    padding: 160px;
  }
  .vid-container {
    max-width: 54%;
  }
  .slider-wrapper {
    height: 480px;
  }
  #dobbo-desc-2 {
    max-width: 710px;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  .vid-container {
    max-width: unset;
  }
  .slider-wrapper {
    height: 480px;
  }
}
